<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
		<hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
				We offer professional painting services at affordable prices throughout Newcastle and the Hunter region.
            </p>
            <p>
				Whether it be interior walls, doors, and ceilings; exterior walls, decks, and fences; or even cabinets and everything else; our experienced painters pride themselves on making your home beautiful.
				So what are you waiting for? Give us a call at 0412 707 544 or <a href="mailto:info@forgepainting.com.au">email us at info@forgepainting.com.au</a> for your free quote!
            </p>
        </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Services</h3>
		    <ul>
				<li>
					Interior
    			<li>
					Exterior
    			</li>
				<li>
					Decorating
				</li>
				<li>
					Repairs
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
