<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
		<hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
				Here at Forge Painting & Decorating,
            </p>
            <p>
				We offer a wide variety of interior, exterior, decorating services for both residential and commercial customers throughout NSW. Covering all bases of painting and decorating, our interior and exterior painting is always consistent of a professional job.
				As a small business with 8+ years' experience we pride ourselves on our attention to detail and our quality workman ship.
            </p>
        </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Services</h3>
		    <ul>
				<li>
					Interior
    			<li>
					Exterior
    			</li>
				<li>
					Decorating
				</li>
				<li>
					Repairs
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
