<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
		<hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
				I have 2 years industry experience as a Full-Stack Java Developer.
				I've worked in solo and team environments, as well as a project/team lead.
				I'm looking to focus on scalable backend services (APIs, AWS, SaaS) and am searching for a position which will challenge and drive my growth in the field.
            </p>
            <p>
			   I love to travel, having spent 1 month in Vietnam, 6 months in Arizona, and 2 years in Canada.
			   In my spare time like to hike, snowboard, play guitar, and dabble in game development.
			   I'm currently looking for remote work so I can continue to improve my skills as I explore the world.
            </p>
        </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
				<li>
					Graduated with a Bachelor of Engineering (Software) (First-class honours) from the University of Newcastle, Australia.
    			<li>
					Led a 10-person team to create a genetic programming framework for a client. <a href="https://koosvary.github.io/Iconic/docs/index">Check it out here.</a>
    			</li>
				<li>
					Worked to improve and maintain a widely used web-application for managing Superannuation payments and reporting.
				</li>
				<li>
					Designed and architected an Android application for use in Logistics & Fleet Management.
				</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
