<section class="tout" id="experience">
    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Services</h2>
				<hr class="tight"/>
			</div>
		</div>
		<div class="row">
			<div class="centeredmenu">
				<ul>
					<li>
						<h4><a class="work-item" onclick="currentSlide(1)">Interior</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(2)">Exterior</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(3)">Decorating</a></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<!-- Slideshow container -->
			<div class="slideshow-container">
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<img src="/img/paint-roller-icon.png" class="img service-icon"/>
					</div>
					<div class="col-sm-8">
						<p>
							<ul>
								<li>
									Walls
								</li>
								<li>
									Cailings
								</li>
								</li>
								<li>
									Skirting
								</li>
								<li>
									Doors
								</li>
								<li>
									Architraves
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<img src="/img/house-icon.png" class="img service-icon"/>
					</div>
					<div class="col-sm-8">
						<p>
							<ul>
								<li>
									Exterior Walls (Brick, Timber, Cladding)
								</li>
								<li>
									Decks
								</li>
								<li>
									Fences
								</li>
								<li>
									Gates
								</li>
								<li>
									Gutters
								</li>
								<li>
									Roofs
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<img src="/img/drawer-furniture-icon.png" class="img service-icon"/>
					</div>
					<div class="col-sm-8">
						<p>
							<ul>
								<li>
									Touch-ups
								</li>
								<li>
									Repairs
								</li>
								<li>
									And everything else
								</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
