<section class="tout" id="experience">
    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Services</h2>
				<hr class="tight"/>
			</div>
		</div>
		<div class="row">
			<div class="centeredmenu">
				<ul>
					<li>
						<h4><a class="work-item" onclick="currentSlide(1)">Interior</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(2)">Exterior</a></h4>
					</li>
					<li>
						<h4><a class="work-item" onclick="currentSlide(3)">Decorating</a></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<!-- Slideshow container -->
			<div class="slideshow-container">
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b></b>
							<ul>
								<li>Walls</li>
								<li>Ceilings</li>
								<li>Cabinates</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Interior Services</b>
							<ul>
								<li>
									We paint some good walls
								</li>
								<li>
									oh boy yes we do
								</li>
								</li>
								<li>
									gotta paint them walls
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b></b> 
							<ul>
							    <li>External Walls</li>
								<li>Decks</li>
								<li>Fences</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Exterior Services</b>
							<ul>
								<li>
									We also paint some good outdoor walls
								</li>
								<li>
									and we pretty good at it
								</li>
								<li>
									aint that right?
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="work-slide fade">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 work-tech">
						<p>
							<b></b> 
							<ul>
								<li>Touch-ups</li>
								<li>Other things</li>
							</ul>
						</p>
					</div>
					<div class="col-sm-8">
						<p>
							<b>Decorating Services</b>
							<ul>
								<li>
									We also decorate
								</li>
								<li>
									Because that's something we do
								</li>
								<li>
									Aint that right
								</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
